@import "../../css/colors.scss";
$gap-top: 3rem;

@mixin large-mobile {
  @media (min-width: 40rem) {
    @content
  }
}

.home {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 85vh;
}


.home__title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: $gap-top;
}


.home__title,
.home__instruction {
  text-align: center;
  font-family: 'Montserrat', sans-serif;

}


.home__title {
  font-size: 1.5rem;
  font-weight: 300;
}


.title--whitebold {
  font-weight: bold;
  color: white;
}


.home__line {
  width: 60%;
  border: 1px solid map_get($colors, brown);

}


.home__github-icon {
  height: 3rem;
  margin-top: $gap-top;
}


.home__description-container {
  width: 80%;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  max-width: 60rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: $gap-top;
}


.home__instruction {
  width: 90%;
}

.home__steps-container--desktop {
  display: none;
  @include large-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
  }
}

.home__steps-image--desktop {
  width: 30rem;
  margin-top: 5rem;
}

.home__steps--desktop {
  display: flex;
  width: 100%;
  min-width: 24rem;
  max-width: 31rem;

  align-items: center;
  text-align: center;
}

.step-container--desktop {
  width: 50%;
}

.home__steps-container--mobile {
  display: flex;
  margin: 5rem 0;
  width: 100%;
  justify-content: space-evenly;
  @include large-mobile {
    display: none;
  }
}

.home__steps-image--mobile {
  width: 100%;
  max-width: 10rem;
}

.home__steps--mobile {
  display: flex;
  text-align: center;
  margin-top: 3.5rem;
  flex-direction: column;
  justify-content: space-between;
  height: 79%;
  width: 45%;

}
