@import "../../css/colors";

@mixin desktop {
  @media (min-width: 62rem) {
    @content
  }
}


.repositories__repository {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  a {
    color: map_get($colors, black);
    text-decoration: none;
    width: 65%;
  }
  @include desktop {
    width: 30rem;
  }
}

.repository__name {
  margin-left: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  &:hover,
  &:active {
    color: #535353;
  }
}



.repository__star-count {
  font-weight: 300;
  font-size: 0.8rem;
  margin: 0 1rem 0 0;
}

.repository__star {
  width: 1rem;
  opacity: 0.8;
  vertical-align: middle;
}