
@import "../../css/colors";


@mixin tablet {
  @media (min-width: 48rem) {
    @content
  }
}

@mixin desktop {
  @media (min-width: 62rem) {
    @content
  }
}


.navbar {
  display: flex;
  grid-area: navbar;
  height: 6rem;
  background: map_get($colors, black);
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.navbar__logo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 1rem;
}

.navbar__logo {
  height: 3rem;
  @include tablet {
    margin-left: 0.5rem;
  }

}

.navbar__title-link {
  display: none;
  @include tablet {
    display: block;
    margin-left: 2rem;
    font-size: 0.8rem;
    text-decoration: none;
    color: white;
  }
}

.input {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  @include tablet {
    margin-right: 2rem;
  }

}

.input input {
  padding: 6px;
  border: none;
  font-size: 1rem;
  margin-left: 1rem;
  width: 60%;
}

.input__button {
  background: transparent;
  font-size: 0.8rem;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  border: 1px solid map_get($colors, blue);
  padding: 0.5rem 0.5rem;//todo
  align-self: center;
  margin: 0 0.8rem;
  color: map_get($colors, blue);
  transition: background-color 500ms;
  &:hover,
  &:active {
    background: map_get($colors, blue);
    color: map_get($colors, black);
  }
}

