@import "./colors";


html {
  height: 100%;
}
body {
  min-height: 100%;
  background: map_get($colors, grey);
  backdrop-filter: grayscale(90%);
  font-family: Montserrat, sans-serif;
  color: map_get($colors, black);
  box-sizing: border-box;
}

