@import "Queries";
@import "./colors";


.navbar {
  display: flex;
  grid-area: navbar;
  height: 6rem;
  background: map_get($colors, black);
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.navbar__logo {
  height: 3rem;
  margin-left: 0.5rem;
}

.input {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;

}

.input input {
  padding: 6px;
  border: none;
  font-size: 1rem;
  margin-left: 1rem;
  width: 60%;
}

.input__button {
  background: white;
  font-size: 1rem;
  border: 1px solid black;
  padding: 0.5rem 0.5rem;//todo
  align-self: center;
  margin: 0 0.5rem
}

.navbar__title-link {
  display: none;
}