.navbar {
  display: flex;
  height: 6rem;
  background: #222222;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.navbar__logo {
  height: 4rem;
  margin-left: 0.5rem;
}

.input {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;

}

.input input {
  padding: 6px;
  border: none;
  font-size: 17px;
  margin-left: 1rem;
}

.input__button {
  background: white;
  font-size: 1rem;
  border: 1px solid black;
  padding: 6px;//todo
  align-self: center;
  margin-left: 1rem;
}

.navbar__title {
  display: none;
}