@import "Queries";
@import "./colors";


.navbar {
  display: flex;
  grid-area: navbar;
  height: 6rem;
  background: map_get($colors, black);
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.navbar__logo {
  height: 3rem;
  margin-left: 0.5rem;
}

.input {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;

}

.input input {
  padding: 6px;
  border: none;
  font-size: 1rem;
  margin-left: 1rem;
  width: 60%;
}

.input__button {
  background: transparent;
  font-size: 0.8rem;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  border: 1px solid map_get($colors, blue);
  padding: 0.5rem 0.5rem;//todo
  align-self: center;
  margin: 0 0.8rem;
  color: map_get($colors, blue);
  &:hover,
  &:active {
    background: map_get($colors, blue);
    color: map_get($colors, black);
  }
}

.navbar__title-link {
  display: none;
}