.user-profile {
  display: flex;
  margin-top: 2rem;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.user-profile__image {
  width: 50%;
  border-radius: 10%;
}

.user-profile__info-container {
  text-align: left;
  width: 60%;
  margin-bottom: 2rem;
}

.user-profile__info {
  font-size: 1.2rem;
  font-weight: 300;
  margin-top: 2rem;

}


.user-profile__follows-container {
  display: flex;
  align-items: center;
  justify-content: center;
  ;
}

.follows__image {
  width: 2rem;
  height: auto;
  margin-right: 1rem;
}


.user-profile__followers,
.user-profile__followings {

}

.repositories__header {
  margin-top: 4rem;
  margin-bottom: 1rem;
}

.repositories__header-caption {
  font-size: 0.7rem;
  margin-top: 0;
}

.repositories__container {
  width: 90%;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  margin: 2rem 0;

}

.repositories__repository {
  display: flex;
  justify-content: space-between;
  align-items: center;
  a {
    color: black;
    text-decoration: none;
    }
}

.repository__name {
  margin-left: 1rem;
}



.repository__star-count {
  font-weight: 300;
  font-size: 0.8rem;
  margin: 0 1rem 0 0;
}

.repository__star {
  width: 1rem;
  opacity: 0.8;
  vertical-align: middle;
}