@import "../../components/Repositories/Repositories.css";
@import "../../components/Repository/Repository.css";

@mixin large-mobile {
  @media (min-width: 40rem) {
    @content
  }
}

@mixin tablet {
  @media (min-width: 48rem) {
    @content
  }
}

@mixin desktop {
  @media (min-width: 62rem) {
    @content
  }
}

.user-profile {
  @include tablet {
    display: grid;
    height: 100%;
    grid-template-rows: 1fr;
    grid-template-columns: 1.2fr 1fr;
    grid-template-areas:
            'repo info';

   /* align-items: center;*/
    /*
    align-items: center;
    */
    /*justify-items: center;*/
  }
}






