@import "../../components/Repositories/Repositories.css";
@import "../../components/Repository/Repository.css";

.user-profile {
  display: flex;
  margin-top: 2rem;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.user-profile__image {
  width: 11rem;
  border-radius: 10%;
}

.user-profile__info-container {
  text-align: left;
  width: 60%;
  margin-bottom: 2rem;
}

.user-profile__info {
  font-size: 1.2rem;
  font-weight: 300;
  margin-top: 2rem;
}


.user-profile__follows-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.follows__image {
  width: 2rem;
  height: auto;
  margin-right: 1rem;
}


