@mixin tablet {
  @media (min-width: 48rem) {
    @content
  }
}

@mixin desktop {
  @media (min-width: 62rem) {
    @content
  }
}


.user-profile__container {
  display: flex;
  margin-top: 2rem;
  flex-direction: column;
  align-items: center;
  text-align: center;
  @include tablet {
    margin-top: 5rem;
  }
}

.user-profile__image {
  width: 11rem;
  border-radius: 10%;

}

.user-profile__info-container {
  text-align: left;
  width: 60%;
  margin-bottom: 2rem;
  @include tablet {
    grid-area: info;
  }
}

.user-profile__info {
  font-size: 1.2rem;
  font-weight: 300;
  margin-top: 2rem;
}


